<app-headerbanner></app-headerbanner>
<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title class="ion-padding-bottom">Recuperar contraseña</ion-card-title>
        <ion-text>Ingresa tu usuario y recibiras instrucciones en tu correo electronico para recuperar tu contraseña.</ion-text>
      </ion-card-header>
      
      <div>
        <form [formGroup]="resetForm" (submit)="submit()">
          <div>
            <mat-form-field class="input-large">
              <mat-label>Usuario</mat-label>
                <input matInput formControlName="user" [(ngModel)]="user" required>
                  <mat-error *ngIf="resetForm.controls.user.touched && resetForm.controls.user.invalid">
                    <span *ngIf="resetForm.controls.user.errors.required">Ingresa tu usuario DuocUC.</span>
                  </mat-error>
            </mat-form-field>
          </div>
            <div class="ion-padding-bottom">
              <button mat-raised-button color="accent" type="submit">RECUPERAR</button>
            </div>
            <div class="ion-padding-bottom">
          <button mat-raised-button color="accent" (click)="volver()">VOLVER</button>
            </div>
        </form>
      </div>
  </ion-card>
  </div>
</ion-content>
