<app-headerbanner></app-headerbanner>
<ion-content>
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Inicia sesión con tu cuenta DuocUC</ion-card-title>
      </ion-card-header>
      <div>
        <form [formGroup]="loginForm">
          <div>
            <mat-form-field class="input-large">
              <mat-label>Usuario</mat-label>
              <input matInput id="inputuser" formControlName="user" [(ngModel)]="user" required>
              <mat-error *ngIf="loginForm.controls.user.invalid">
                <span *ngIf="loginForm.controls.user.errors.required" id="userErr">Ingresa tu usuario DuocUC.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="input-large">
              <mat-label>Contraseña</mat-label>
              <input matInput id="inputpass" formControlName="password" [(ngModel)]="password" type="password" required>
              <mat-error *ngIf="loginForm.controls.password.invalid">
                <span *ngIf="loginForm.controls.password.errors.required" id="passErr">Ingresa una contraseña.</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button id="btnSignIn" color="accent" (click)="signIn()">INGRESAR</button>
          </div>
            <button mat-button color="accent" id="btnReset" (click)="restablecer()">Restablecer contraseña</button>
        </form>
      </div>
    </ion-card>
  </div>
</ion-content>
